NEXT_PUBLIC_API_KEY="" // e.g: api_key_for_header_requests
NEXT_PUBLIC_API_BASE_URL="" // e.g: https://api.example.com
NEXT_PUBLIC_API_VERSION="" // e.g: v1
NEXT_PUBLIC_APP_URL="" // e.g: https://example.com
NEXT_PUBLIC_API_MAIN_PATH="" // e.g: api
NEXT_PUBLIC_API_TIMEOUT="" // e.g: 3000 => in seconds
NEXT_PUBLIC_ENCRYPTION_KEY="" // e.g: kjsdnk23bhlhb4ilu2
NEXT_PUBLIC_TOKEN_STORAGE_KEY="" // e.g: user_token
NEXT_PUBLIC_USER_STORAGE_KEY="" // e.g: user_data
NEXT_PUBLIC_APP_NAME="" // e.g: project_name
NEXT_PUBLIC_APP_VERSION="" // e.g: 1.0.0
NEXT_PUBLIC_ENABLE_ANALYTICS="" // e.g: true => to enable console loggers
NEXT_PUBLIC_ENABLE_ERROR_REPORTING="" // e.g: true
NODE_ENV="" // e.g: development || production
NEXT_PUBLIC_DEFAULT_LANGUAGE="" // e.g: en
NEXT_PUBLIC_SUPPORTED_LOCALES="" // e.g: en, ar
NEXT_PUBLIC_DEFAULT_TIMEZONE="" // e.g: Asia/Aden
NEXT_PUBLIC_DEFAULT_THEME="" // e.g: dark
NEXT_PUBLIC_DEFAULT_PAGE_SIZE="" // e.g: 10
NEXT_PUBLIC_MAX_PAGE_SIZE="" // e.g: 50
NEXT_PUBLIC_MAX_FILE_SIZE="" // e.g: 2097152
NEXT_PUBLIC_ALLOWED_FILE_TYPES="" // e.g: pdf, jpg, jpeg, ...etc
NEXT_PUBLIC_CACHE_TTL="" // e.g: 60
NEXT_PUBLIC_ENABLE_CACHE="" // e.g: true => to allow tanstack caching
NEXT_PUBLIC_DEFAULT_ENDPOINT="" // e.g: direct_api || app_api